[Unit]
Description=Telegram Bot Conciertos
After=network.target

[Service]
Type=simple
User=pepe
WorkingDirectory=/home/pepe/Scripts/Musica/conciertos/telegram/bot/
EnvironmentFile=/home/pepe/Scripts/Musica/conciertos/telegram/bot/.env
ExecStart=/home/pepe/Scripts/python_venv/bin/python /home/pepe/Scripts/Musica/conciertos/telegram/bot/telegram_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
