[Unit]
Description=Telegram Bot Conciertos
After=network.target

[Service]
Type=simple
User=huan
WorkingDirectory=/home/huan/gits/pollo/bot_conciertos/
EnvironmentFile=/home/huan/gits/pollo/bot_conciertos/.env
ExecStart=/home/huan/Scripts/python_venv/bin/python /home/huan/gits/pollo/bot_conciertos/telegram_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
